* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: linear-gradient(90deg, rgba(5,1,59,0.9500175070028011) 100%, rgba(4,2,54,1) 100%, rgba(5,4,70,1) 100%, rgba(4,2,57,1) 100%, rgba(9,9,121,0.36738445378151263) 100%, rgba(0,212,255,1) 100%), url('../New_york_times_square-terabass.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	overflow: hidden;
	
}

.text {
	position: relative;
	color: white;
	font-size: 100px;
	z-index: 2;
}

.focus {
	height: 300px;
	width: 300px;
	background: url('../New_york_times_square-terabass.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
	background-attachment: fixed;
	border-radius: 50%;
	z-index: 1;
	left: calc(50% - 150px);
	top: calc(50% - 150px);
	overflow: hidden;
}